<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
    <test name="User Tests">
        <classes>
            <class name="testScenarios.userInfo.UserInfo"/>
        </classes>
    </test>

    <test name="Barn Operation Tests">
        <classes>
            <class name="testScenarios.unlockBarn.UnlockBarn"/>
        </classes>
    </test>

    <test name="Toilet seat Tests">
        <classes>
            <class name="testScenarios.putToiletSeatDown.toiletSeatDown"/>
        </classes>
    </test>
</suite>